body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  color: #E9C597;
}

.bg-categories {
  background-color: #354259;
}

.text-blue {
  color: #44A0A0;
}

.bg-dark {
  background-color: #1C273C;
}

.bg-blue {
  background-color: #44A0A0;
}

.border-blue {
  border-bottom: 5px solid #44A0A0;
}

.btn-add {
  border-radius: 10px;
  color: white;
  background-color: #44A0A0;
}

.activeBtn {
  color: white;
}

.list-group-item {
  background-color: transparent !important;
  color: white !important;
  border-bottom: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color) !important;
}

svg .second-path {
  opacity: 0;
}

svg:hover .second-path {
  opacity: 1;
}